@model EaseEFDAL.Models.ROUTEHDR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ROUTEHDR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOTSIZE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOTSIZE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHREL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHREL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RELDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RELDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATCOST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATCOST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPUNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPUNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPLOT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPLOT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCOST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCOST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCOST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCOST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHANGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHANGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TCOST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCOST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOOLCOSTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOOLCOSTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARTDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARTDESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SETUPHRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SETUPHRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUNHRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUNHRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAG1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAG1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAG2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAG2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAG3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAG3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MASTERPART)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASTERPART)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAKTTIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAKTTIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLANTID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLANTID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARTREV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARTREV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOCKPLAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCKPLAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContinousFlow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContinousFlow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
