@model EaseEFDAL.Models.SUBHDR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUBHDR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHSEQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHSEQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHANGEFLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHANGEFLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODEL1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODEL1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODEL2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODEL2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESTINATION1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESTINATION1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESTINATION2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESTINATION2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPTION1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPTION1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPTION2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPTION2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXCLUDEFROMPRINT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXCLUDEFROMPRINT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SETUPTIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SETUPTIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CYCLETIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CYCLETIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GANTTSTARTFROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GANTTSTARTFROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LBSTICKY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LBSTICKY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MISCFLAG1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MISCFLAG1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MISCFLAG2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MISCFLAG2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MISCFLAG3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MISCFLAG3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MISCFLAG4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MISCFLAG4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumMen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumMen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESC2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLATTENID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLATTENID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SHID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
